<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      The Diko
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="zone_a_afficher == 'new_game'">
    <ion-card class="welcome-card">
      <ion-img src="/assets/8.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Nouvelle partie - Entrer le nom des joueurs</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-item *ngFor="let player of Parties[currentPartie].joueurs">
        <ion-input required type="text" placeholder="Nouveau joueur" [(ngModel)]="player.nom"></ion-input>
    </ion-item>

    <ion-button shape="round" color="primary" fill="outline" (click)="NewRound()">Commencer</ion-button>
    <ion-button shape="round" color="info" fill="outline" (click)="NewPlayer()">+</ion-button>
</ion-content>

<ion-content *ngIf="zone_a_afficher == 'maitre_du_jeu'">
    <h2>{{Parties[currentPartie].joueurs[currentMjpos].nom}}</h2>
    <h2>Tu es le maitre du jeu !</h2>
    <ion-button shape="round" color="info" fill="outline" (click)="VersLaSelectionDuProchainMot()">Continuer</ion-button>    
</ion-content>


<ion-content *ngIf="zone_a_afficher == 'validation_mot'">
    <h2>Le mot sera ...</h2>
    <h2>{{ListeDeMots[CurrentlocationMot].nom}}</h2>
    <h2>Définition : {{ListeDeMots[CurrentlocationMot].definition}}</h2>
    <ion-button shape="round" color="info" fill="outline" (click)="ValideMot()">Valider</ion-button>    
</ion-content>
