<ion-content *ngIf="zone_a_afficher == 'new_game'" center text-center class="vertical-align-content bakcgroundColor">
    <ion-card class="welcome-card">
      <ion-img src="/assets/8_2.png"></ion-img>
    </ion-card>
    <ion-item *ngFor="let player of Parties[currentPartie].joueurs">
        <ion-input required type="text" placeholder="Nouveau joueur" [(ngModel)]="player.nom" class="roundedBorder"></ion-input>
    </ion-item>
    <ion-item></ion-item>
    <ion-button shape="round" color="info" fill="outline" (click)="NewPlayer()">+</ion-button>
    <ion-item></ion-item>
    <ion-button shape="round" color="primary" fill="outline" (click)="NewRound()">Commencer</ion-button>    
</ion-content>


<ion-grid *ngIf="zone_a_afficher == 'maitre_du_jeu'" style="height: 100%">  
  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col>
        <h2>{{Parties[currentPartie].joueurs[currentMjpos].nom}}</h2>
        <h2>Tu es le maitre du jeu !</h2>
        <ion-button shape="round" color="info" fill="outline" (click)="VersLaSelectionDuProchainMot()">Continuer</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>



<ion-grid *ngIf="zone_a_afficher == 'validation_mot'" style="height: 100%">  
  <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
        <h2>Le mot sera ...</h2>
        <h2>{{ListeDeMots[CurrentlocationMot].nom}}</h2>
        <ion-button shape="round" color="info" fill="outline" (click)="ValideMot()">Valider</ion-button>  
      </ion-col>
    </ion-row>
</ion-grid>


<ion-grid *ngIf="zone_a_afficher == 'player_actif'" style="height: 100%">  
  <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
    <h2>{{Parties[currentPartie].joueurs[currentPlayerPos].nom}}</h2>
    <h2>A toi de jouer !</h2>
    <ion-button shape="round" color="info" fill="outline" (click)="DisplayTextArea()">OK</ion-button>          
    </ion-col>
    </ion-row>
</ion-grid>


<ion-grid *ngIf="zone_a_afficher == 'text_area'" style="height: 100%">  
  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-col>
        <h2>{{Parties[currentPartie].joueurs[currentPlayerPos].nom}}</h2>
        <h2>Définition du mot : {{ListeDeMots[CurrentlocationMot].nom}}</h2>
        <ion-item>
            <ion-textarea placeholder="Définition" autocorrect="on" type="text" [(ngModel)]="Parties[currentPartie].manches[currentManche-1].definitions[currentDefinition].definition"></ion-textarea>
        </ion-item>
        <ion-button shape="round" color="info" fill="outline" (click)="JoueurSuivant()">Joueur suivant</ion-button>          
    </ion-col>
  </ion-row>
</ion-grid>




<ion-grid *ngIf="zone_a_afficher == 'fin_de_manche'" style="height: 100%">  
  <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
    <h2>Fin de la manche !</h2>
    <h2>Repasse le téléphone à {{Parties[currentPartie].joueurs[currentMjpos].nom}}</h2>
    <ion-button shape="round" color="info" fill="outline" (click)="Vote()">Passer aux votes</ion-button>      
    </ion-col>
    </ion-row>
</ion-grid>


<ion-content *ngIf="zone_a_afficher == 'vote'">
    <ion-grid>
         <ion-row>
             <ion-col size="3">
             </ion-col>
             <ion-col size="6" center text-center>
                 <strong><h1>C'est l'heure des votes !</h1></strong>
             </ion-col>
             <ion-col size="3">
             </ion-col>
        </ion-row>
        <ion-row>
             <ion-col>
                 <h2>Séléctionne un joueur</h2>
             </ion-col>
        </ion-row>
        <ion-row>
             <ion-col *ngFor="let player of Parties[currentPartie].joueurs; index as i" >
                <ion-button shape="round" color="info" fill="outline" *ngIf="player.id!=currentMjId" (click)="VoteSelectPlayer(player.id, i)">{{player.nom}}</ion-button>
                 <div *ngFor="let def of Parties[currentPartie].manches[currentManche-1].definitions">
                     <div *ngFor="let idJoueur of def.idJoueursVotePour">
                         <div *ngIf="idJoueur == player.id">
                             {{def.definition}}
                         </div>
                     </div>
                 </div>
            </ion-col>
        </ion-row>
        <ion-row>
             <ion-col>
                 <h2>Les définitions du mot : {{ListeDeMots[CurrentlocationMot].nom}}</h2>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let def of Parties[currentPartie].manches[currentManche-1].definitions; index as i">
             <ion-col>
                 {{def.definition}}
            </ion-col>
            <ion-col>
                <ion-button shape="round" color="info" fill="outline" [disabled]="voteSelectedPlayerId==-1 || def.idJoueur==voteSelectedPlayerId" (click)="AVoter(i)">Vote</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
             <ion-col>
                 <ion-button shape="round" color="info" fill="outline" [disabled]="everyPlayerVote == false" (click)="ValideVote()">Valider les votes</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="zone_a_afficher == 'recap_points'" >
    <ion-grid  class="margintop20" style="height: 100%">
         <ion-row *ngFor="let player of Parties[currentPartie].joueurs" justify-content-center align-items-center>
             <ion-col>
                 {{player.nom}}
             </ion-col>
             <ion-col>
                 {{player.points}} points
             </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <ion-col>
                <ion-button shape="round" color="info" fill="outline" [disabled]="everyPlayerVote == false" (click)="NewRound()">Manche suivante</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="zone_a_afficher == 'fin_partie'" center text-center class="vertical-align-content bakcgroundColor">
    <ion-grid style="height: 100%">
         <ion-row *ngFor="let player of Parties[currentPartie].joueurs" justify-content-center align-items-center style="height: 100%">
             <ion-col>
                 {{player.nom}}
             </ion-col>
             <ion-col>
                 {{player.points}} points
             </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 100%">
             <ion-col>
                 <ion-button shape="round" color="info" fill="outline" [disabled]="everyPlayerVote == false" (click)="RetourMenu()">Retour au menu</ion-button>
            </ion-col>
            <ion-col>
                 <ion-button shape="round" color="info" fill="outline" [disabled]="everyPlayerVote == false" (click)="NouvellePartie()">Nouvelle partie</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>